.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}


/*---------------------- Banner section--------------------------- */
header {
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    height: 652px;
}

.banner {
    text-align: center;
    margin: 26px 300px 41px 300px;
}

.banner-img {
    width: 240.28px;
    height: 240px;
}

.banner-title {
    font-size: 48px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-top: 43px;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(97, 100, 107);
}

.btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 21px 21px;
    border: none;
    margin-top: 32px;
}

/* -----------------------------Main Section---------------------------- */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* -------------------------Why Web Development section---------------------------- */

.web-develop-section {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-top: 74px;
}

.develop-section-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: rgb(13, 19, 33);
}

.develop-section-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(112, 106, 106);
}

.develop-section-part-one {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    padding: 48px 48px;
    gap: 100px;
    margin-top: 48px;
}

.develop-section-part-one-title {
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}

.develop-section-part-one-description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(112, 106, 106);
}

.develop-section-btn {
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(87, 88, 92);
    opacity: 0.7;

}

.develop-learn-more-btn {
    color: rgb(112, 106, 106);
    text-decoration: none;
}

/* ----------------------Inspiration section --------------------------*/
.Inspiration-section {
    text-align: center;
    margin-top: 90px;
}

.Inspiration-section-title {
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

.Inspiration-section-description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(112, 106, 106);
    margin: 24px 144px 48px 144px;
}

.Inspiration-section-yt-video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

/* ---------------------Current Target section -------------------------*/
.Current-Target-section {
    margin-top: 151px;
}

.Current-Target-section-title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

.Current-Target-section-description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(112, 106, 106);
    text-align: center;
    margin: 24px 144px 48px 144px;
}

.Current-Target-section-card {
    display: flex;
    gap: 24px;
}

.Current-Target-section-first-card {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.Current-Target-section-first-card-img {
    width: 56px;
    height: 56px;
}

.Current-Target-section-card-title {
    font-size: 24px;
    font-weight: 800;
    color: black;
}

.Current-Target-section-card-description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(112, 106, 106);
}

.current-terget-btn {
    font-size: 16px;
    font-weight: 700;
    color: black;
}